
@{
    ViewBag.Title = "About Casey's Company";
}

<h2>About</h2>

<p>
    This is example text to visually test my site. helodsoa hke ls ha lhaf asd  hsdkkkshfsdkh hia od;a hadsfa
    dfkhsklgal la l l ll lhskagha
</p>

